.sign-in {
  position: relative;
  width: 100%;

  .registration {
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;

    .registration__item {
      flex-direction: column;
      width: 50%; 
      .registration__item__field {
        width: 400px;
      }
    }
  }
}