.row-wrapper {
   display: flex;
   flex-wrap: wrap;
  .left { 
    width: 100%;
  }

  .right {
    width: 100%;
  }

  @media (max-width: 1000px) {
    font-size: 40px;
    .left { 
      width: 100%;
    }
  
    .right {
      width: 100%;
    }
  }
}