
.test__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.test__content-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.info-pass-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-lg {
  width: 400px;
  margin-top: 10px;
}

.title_bottom_border {
  border-bottom: 1px solid white;
}

.btn-group {
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 768px) {
  .test {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  .test-content {
    width: 100%;
    height: 100%;
  }
  
  .pass-panel {
    min-height: 724px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btn-lg {
    width: 400px;
    margin-top: 10px;
  }
  
  .title_bottom_border {
    border-bottom: 1px solid white;
  }
}