.test__item {
  width: 250px;
  height: 100px;
  border-bottom: 1px solid white;
  background-color: rgb(3, 111, 119);
  margin: 20px;
  position: relative;
  border-radius: 5px;
}

.test__item:hover {
  transform: scale(1.2);
  transition: 0.5s;
  position: relative;

  .btn-center {
    position: absolute;
    margin-top: 50px;
    transition: 0.5s;
    z-index: 10;
  }
}

.test__item::after {
  content: "";
  width: 50px;
  height: 50px;
  left: 0;
  top: 5px;
  border: 3px solid rgb(71, 250, 0);
  border-radius: 50%;
  position: absolute;
  background: black;
}

.test__item::before {
  content: "";
  width: 50px;
  height: 50px;
  right: 0;
  top: 5px;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  background: cadetblue;
}

.All-test {

  .All-test__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.btn-center {
  margin-left: 40%;
  margin-top: 40px;
}
