.table-words {
  height: 500px;
  margin-top: 20px;
  overflow-y: scroll;

  .word-item {
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 400px) {
    height: 300px;
    overflow-y: scroll;
  }
}

.dictionary-tabs {
  justify-content: start;
  height: 46px;
  position: relative;
  position: sticky;
}

.option {
  cursor: pointer;
}

.close-part {
  display: none;
}

.show-part {
  display: block;
}

.close {
  display: none;
}

.show {
  display: block;
}

.table-item {
  display: flex;
  flex-direction: column;
}

.tab-item {
  padding: 10px;
  background-color: rgb(233, 233, 233);

  p {
    b {
      color: rgb(94, 138, 77);
    }
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
  }
}

.flex-btn-group {
  display: flex;
}
