html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  h1 h2 h3 h4 h5 h6 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; 
}

.title {
  text-align: center;
}

.page {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 100px;

  @media (max-width: 400px) {
    height: 88%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 18%;
  }
}

.under-title {
  text-align: center;
  color: rgb(48, 48, 48);
}

.error {
  color: red;
}

.top {
  margin-top: 25px;
}

.start-title {
  text-align: start;
}

.padding-10 {
  padding: 10px;
}

.btn-bg {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 400px) {
  .btn-bg {
    width: 100%;
  }
}

.custom-input {
  opacity: 0;
  z-index: 10;
}

.col .col-sm .col-sm-12 {
  padding-right: 0;
  padding-left: 0;
}