html, body {
  height: 100%;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

.container-fluid {
  height: 100%;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

.page {
  padding-top: 49px;
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
}

.under-title {
  text-align: center;
  color: rgb(216, 216, 216);
}

.col {
  padding: 0;
}