.page {

  .sign-in {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
  }

  .sign-in__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88%;
  }

  .sign-in__inner {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}