.text__under-title {
  text-align: center;
  color: rgb(58, 58, 58);
}

.view {
  flex-direction: column;
  width: 500px;
}

.btn-lg {
  width: 400px;
  margin-top: 10px;
}

.test-view {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}