.options {
  min-height: 724px;
  max-width: 350px;
  position: fixed;
  z-index: 100;
  right: 165px;
  overflow: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid white;

  & .options__inner {
    border-bottom: 1px solid white;
    min-height: 600px;
  }

  & .options__list {
    margin-top: 20px;
    box-sizing: border-box;
    width: 350px;
    list-style: none;
  }
  
  & .group__checkbox {
    padding: 10px;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
  
  & .option__checkbox {
    margin-left: 20px;
    flex-direction: column;
    position: relative;
    width: 16px;
  }
  
  & .btn-apply {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  & .filed-checkbox {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -8px;
  }
  
  & .input-checkbox {
    position: absolute;
    border: 1px solid black;
    width: 16px;
    height: 16px;
    border-radius: 5px;
  }
  
  & .input-checkbox .active {
    position: absolute;
    border: 1px solid red;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  & .input-checkbox::before {
    content: "";
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.849);
    border-radius: 50%;
    position: absolute;
    margin-left: -5px;
    margin-top: 2px
  }
  
  & .active {
    background: rgb(51, 255, 0);
  }
  
}