.create-test {

  .crete-test__inner {
    display: flex;
  
    .left {
      height: 600px;
      overflow-y: auto;
    }
  
    .right {
      height: 600px;
    }
  
    .between {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;

      .left {
        height: 300px;
        overflow-y: auto;
      }
    
      .right {
        height: 600px;
      }
    }
  }
}